# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.venv311/
backend/venv/

# =========================
# Machine Learning Models
# =========================
*.keras
*.h5
*.hdf5

# =========================
# Environment / Secrets
# =========================
.env
.env.*

# =========================
# IDE
# =========================
.vscode/
.idea/